<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="author" content="Sophie van Wersch" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no user-scalable=no maximum-scale=1">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <!-- Google font -->
      <link href="https://fonts.googleapis.com/css?family=Lalezar|Spectral&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="../../public/scss/style.css">
      <title>Blogs</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar black-background font-spectral">
      <div class="navbrand-container">
        <a class="navbar-brand text-uppercase" href="/">S V W
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav ml-auto smooth-scroll">
          <li class="nav-item">
            <a class="nav-link text-black" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#blogs">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
          </ul>
        </div>
    </nav>
    <section class="all-blogs">
      <div class="container font-spectral">
        <h1 class="title text-center text-uppercase">Read All Blogs</h1>
          <div class="row mt-5 blog-list">
            <div class="articles col-sm-6 col-md-4 col-xl-4 mb-3 mx-auto">
              <a href="https://shecancode.io/blog/video-games-not-just-a-boys-club-anymore?rq=sophie%20van%20wersch">
                <img class="article-img img-fluid" src="../../public/assets/images/videogames.jpeg">
              </a>
              <p class="article-title font-weight-bold">Video Games: Not Just A 'Boys Club' Anymore</p>
              <p class="article-tag">Gaming is an industry both males and females enjoy. So why is it that the guys are getting all the fun?</p>
              <p class="company-name">SheCanCode</p>
            </div>
            <div class="articles col-sm-6 col-md-4 col-xl-4 mb-3 mx-auto">
              <a href="https://shecancode.io/blog/how-startups-can-attract-top-female-talent">
                <img class="article-img img-fluid"  src="../../public/assets/images/femaletalent.jpeg">
              </a>
              <p class="article-title font-weight-bold">How Startups Can Attract Top Female Talent</p>
              <p class="article-tag">Numbers may be low for employing women, but that doesn’t mean startups can’t find solutions to change that…
              </p>
              <p class="company-name">SheCanCode</p>
            </div>
            <div class="articles col-sm-6 col-md-4 col-xl-4 mb-3">
              <a href="https://shecancode.io/blog/diversity-a-business-strategy-that-works?rq=sophie%20van%20wersch">
                <img class="article-img img-fluid" src="../../public/assets/images//diversity.jpg">
              </a>
              <p class="article-title font-weight-bold">Diversity: A Business Strategy That Works</p>
              <p class="article-tag">Not investing in a diverse workforce is a huge drawback for business. </p>
              <p class="company-name">SheCanCode</p>
            </div>
          </div>
          <div class="row mt-5 blog-list">
            <div class="articles col-sm-6 col-md-4 col-xl-4 mb-3 mx-auto">
              <a href="https://shecancode.io/blog/to-reveal-or-not-reveal-should-we-share-our-salary-history-with-recruiters?rq=sophie%20van%20wersch">
                <img class="article-img img-fluid" src="../../public/assets/images/reveal.jpg">
              </a>
              <p class="article-title font-weight-bold">To Reveal or Not Reveal: Should We Share Our Salary History With Recruiters?</p>
              <p class="article-tag">Questions about your salary history can be tricky. Here are a few steps to keep in mind to handle them like a pro. </p>
              <p class="company-name">SheCanCode</p>
            </div>
            <div class="articles col-sm-6 col-md-4 col-xl-4 mb-3 mx-auto">
              <a href="https://shecancode.io/blog/breaking-out-into-the-workforce-after-a-bootcamp?rq=sophie%20van%20wersch">
                <img class="article-img img-fluid"  src="../../public/assets/images/breakingout.jpeg">
              </a>
              <p class="article-title font-weight-bold">Breaking Out Into The Workforce After A Bootcamp
              </p>
              <p class="article-tag">You finished your coding boot camp and not sure what steps to take next? here are a few tips to help push you in the right direction.
              </p>
              <p class="company-name">SheCanCode</p>
            </div>
            <div class="articles col-sm-6 col-md-4 col-xl-4 mb-3">
              <a href="https://shecancode.io/blog/the-rise-of-automation-and-job-uncertainty?rq=sophie%20van%20wersch">
                <img class="article-img img-fluid" src="../../public/assets/images/automation.jpeg">
              </a>
              <p class="article-title font-weight-bold">The Rise of Automation and Job Uncertainty</p>
              <p class="article-tag">As our technology advances, jobs traditionally held by humans may soon be automated. So, what does this possibly mean for you?
              </p>
              <p class="company-name">SheCanCode</p>
            </div>
          </div>
          <div class="row mt-5 blog-list">
            <div class="articles col-sm-6 col-md-4 col-xl-4 mb-3 mx-auto">
              <a href="https://shecancode.io/blog/5-programming-languages-to-learn-in2018?rq=sophie%20van%20wersch">
                <img class="article-img img-fluid" src="../../public/assets/images/5programminglang.jpg">
              </a>
              <p class="article-title font-weight-bold">5 Programming Languages To Learn in 2018 (Part I)
              </p>
              <p class="article-tag">With so many programming languages to choose from which should you checking out this year?
              </p>
              <p class="company-name">SheCanCode</p>
            </div>
            <div class="articles col-sm-6 col-md-4 col-xl-4 mb-3 mx-auto">
              <a href="https://shecancode.io/blog/top-programming-languages-to-learn-in-2018-part-ii?rq=sophie%20van%20wersch">
                <img class="article-img img-fluid" src="../../public/assets/images/topprogramlang.jpeg">
              </a>
              <p class="article-title font-weight-bold">Top Programming Languages to Learn in 2018 (Part II)</p>
              <p class="article-tag">And the list of programming languages to learn continues...</p>
              <p class="company-name">SheCanCode</p>
            </div>
            <div class="articles col-sm-6 col-md-4 col-xl-4 mb-3">
              <a href="https://shecancode.io/blog/earning-while-learning-top-tech-companies-offering-trainee-apprenticeships?rq=sophie%20van%20wersch">
                <img class="article-img img-fluid" src="../../public/assets/images/earninglearning.jpg">
              </a>
              <p class="article-title font-weight-bold">Earning While Learning: Top Tech Companies Offering Trainee Apprenticeships</p>
              <p class="article-tag">Companies are giving opportunities for people to learn a new skill... and they're being paid for it at the same time.
              </p>
              <p class="company-name">SheCanCode</p>
            </div>
          </div>
          <div class="row mt-5 blog-list">
            <div class="articles col-sm-6 col-md-4 col-xl-4 mb-3 mx-auto">
              <a href="https://shecancode.io/blog/top-ten-coding-bootcamps-in-europe?rq=sophie%20van%20wersch">
                <img class="article-img img-fluid" src="../../public/assets/images/bootcamps.jpeg">
              </a>
              <p class="article-title font-weight-bold">Top Ten Coding Bootcamps in Europe
              </p>
              <p class="article-tag">Want a quick break into the tech industry? Coding bootcamps may be your best bet.
              </p>
              <p class="company-name">SheCanCode
              </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="page-footer black-background font-small text-white" style="width:100%;">
      <div class="container mt-5 mb-4 text-center text-md-left font-spectral">     
        <div class="row">
          <div class="col-sm-6 col-md-3 col-lg-5 col-xl-5 mx-auto mb-4 mt-5">
            <h6 class="text-uppercase font-weight-bold">
              <strong>Collaboration</strong>
            </h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>If you are interested in collaborating, please feel free to contact me above. </p>
            <p>A pdf version of my CV can be found <a href="../../public/assets/pdf/CV_sophie_van_wersch.pdf" class="text-white font-weight-bold">here.</a></p>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-2 col-xl-5 mx-auto mb-4 mt-5">
            <h6 class="text-uppercase white-text font-weight-bold">
              <strong >Contact</strong>
            </h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p><i class="fas fa-home mr-2"></i></i> Amsterdam, Netherlands</p>
            <p><i class="fa fa-envelope mr-2"></i> sophievanwersch@hotmail.com</p>
            <p><i class="fa fa-phone mr-2"></i> + 31 627384235</p>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 mt-5">
            <h6 class="text-uppercase text-white font-weight-bold">
              <strong>Socials</strong>
            </h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <a 
              class="text-white" href="https://www.linkedin.com/in/sophie-van-wersch-085664120/"
            >
              <p><i class="fab fa-linkedin mr-2"></i> LinkedIn</p>
            </a>
            <a 
            class="text-white" href="https://www.linkedin.com/in/sophie-van-wersch-085664120/"
          >
            <p><i class="fab fa-github mr-2"></i> GitHub</p>
            </a>
          </div>
        </div>
      </div>
      <div class="footer-copyright text-center py-3 font-spectral">© 2019 Copyright: Sophie van Wersch
      </div>
    </footer>
  </body>
</html>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>