<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Blogs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>
<body>
  <div>
    <div id="navbar"></div>
    <div class="Blogs">
        <div class="row-one">
            <a href="https://shecancode.io/blog/how-startups-can-attract-top-female-talent"><img src="../images/facebookpaper.jpg"></a>
            <p class="work-thumb">Facebook Paper</p>
            <p class="work-thumb-desc">Designing the launch of a new product from Facebook in 2014.</p>
            <p class="work-categoryz">Interaction / 3D/CGI / Art Direction</p>                
        </div>
        <div class="four columns int">
            <a href="../work/instagram/"><img src="../images/instagram.png"></a>
            <p class="work-thumb">Instagram</p>
            <p class="work-thumb-desc">A press center for official product updates and news.</p>
            <p class="work-categoryz">Interaction Design / Web + Mobile</p>                
        </div>
        <div class="four columns 3d">
            <a href="../work/nikentc/"><img src="../images/nike.png"></a>
            <p class="work-thumb">Nike</p>
            <p class="work-thumb-desc">Created a series of badges for the Nike+ Training club workout app.</p>
            <p class="work-categoryz">Interaction / 3D/CGI</p>                
        </div>
    </div>
  </div>
  
</body>
</html>

<script>
$(function() {
  $("#navbar").load("navbar.html");
});
</script>