/* ---- Base ---- */
   
html, body { 
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s all;
  scroll-behavior: smooth;
}

header,
#home {
  height: 100%;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

#particles-js {
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* ---- Global CSS ---- */

.title {
  margin-top: 80px;
  text-align: center;
  font-family: 'Spectral', serif;
}

.black-background {
  background-color: black;
}

.font-spectral {
  font-family: 'Spectral', serif;
}

/* ---- Navbar ---- */

.navbar-brand:hover {
  color: white;
}

.navbar-text {
  color: white;
}

.nav-link:hover {
  border-bottom: 1px solid #00FFFF;
  color: white;
}

.top-nav-collapse {
  background-color: black;
} 

@media (max-width: 450px) {
  .navbar:not(.top-nav-collapse) {
    background-color: black;
  }
}

@media (min-width: 430px) and (max-width: 450px) {
  .navbar:not(.top-nav-collapse) {
    margin-top: 100px;
    background-color: black
  }
}

/* ---- Home ---- */

.cover-heading {
  font-family: 'Lalezar', cursive;
}

@media screen and (max-width: 750px) {
  .cover-heading {
    font-size: 50px;
  }
}

.cover-paragraph {
  font-weight: 100;
  padding-top: 10px;
}

@media screen and (max-width: 500px) {
  .cover-paragraph {
    font-size: 25px;
  }
}

.hr {
  background-color: #00FFFF;
}

/* ---- Scroll Down ---- */

.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 20px;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 10;
	text-decoration: none;
	text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

/* ---- About ---- */

.about-text {
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  #about {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.justify {
  text-align: justify;
}

/* ---- Blogs ---- */

.article-img {
  height: 350px;
}

.article-img:hover {
  opacity: 0.5;
}

.article-title {
  padding-top: 30px;
}

.color-black {
  color: black;
}

.color-black:hover {
  text-decoration: none;
  color: black;
  font-size: 16.5px;
}

/* Projects */

.pr-img {
  width: 200px;
  height: 200px;
}

.carousel-item {
  height: 550px;
}

.carousel-indicators li {
  background-color: black;
  opacity: 0.5;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: black;
  opacity: 0.5;
  border-radius: 50%;
  padding-bottom: 10px;
}

.carousel-indicators {
  margin-top: 50px;
}

/* ---- All Blogs ---- */

.all-blogs {
  margin-top: 150px;
  margin-bottom: 80px;
}

.repo-link {
  margin-top: 70px;
}

.article-img {
  background-size: cover;
  background-position: absolute;
}
  
/* ---- Contact ---- */

#email-decoy { 
  display: none; 
} 