/* ---- Base ---- */
   
html, body { 
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s all;
}

header {
   background-color: black;
   height: 100%;
   /* width: fit-content; */
}
#home {
  height: 100%;
  width: 100%;
  
 
}

#about {
  width: 100%;
}
/* ---- Navbar ---- */

.navbrand-container:hover {
  border: 1px solid #00FFFF;
}
.navbar-brand {
  color: white;
  font-family: 'Spectral', serif;
  padding-left: 15px;
}

.navbar-brand:hover {
  color: white;
}

.nav-link {
  color: white;
  font-family: 'Spectral', serif;
  font-weight: 100;
  margin-left: 15px;
  text-transform: uppercase;
}

.nav-link:hover {
  border-top: 1px solid #00FFFF;
  color: white;
}

.top-nav-collapse {
  background-color: black;
} 

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: black;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: black;
  }
}

/* ---- Home ---- */

.cover-heading {
  font-family: 'Lalezar', cursive;
}

.cover-paragraph {
  font-family: 'Spectral', serif;
  font-weight: 100;
  padding-top: 10px;
}

.hr {
  background-color: #00FFFF;
}

/* Scroll Down */

.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 20px;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 10;
	text-decoration: none;
	text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

/* About */

#about {
  margin-bottom: 150px;
}

.ab-title {
  margin-top: 100px;
  text-align: center;
  /* position: relative; */
}

.ab-container {
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.ab-img {
  height: 400px;
  width: 400px;
}

.div3 {
  flex: 100%;
  order: 3;
  margin-top: 20px;
}

.ab-bio {
  font-family: 'Spectral', serif;
  color: black;
  text-align: justify;
  max-height: 400px;
  max-width: 400px;
} 

.div3 {
  font-family: 'Spectral', serif;
  margin-left: 90px;
}

/* Projects */

.pr-img {
  border: 1px solid black;
  max-width: 350px;
  height: 350px;
}

/* Blogs */
#blogs {
  margin-top: 100px;
}

.bl-para {
  font-family: 'Spectral', serif;
  /* max-width: 800px; */
}
.articles {
  width: 350px;
  font-family: 'Spectral', serif;
}

.article-img {
  width: 350px;
  height: 350px;
}

.article-img:hover {
  opacity: 0.5;
}

.article-title {
  padding-top: 30px;
}

/* Footer */

.page-footer {
  background-color: black;
}
